<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="navbar::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <div class="container-fluid p-5 mt-5">
        <div class="card card-sh">
            <div class="card-body text-center">
                <p class="fs-4">View Users</p>
                <th:block th:if="${session.successMsg}">
                    <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>

                <th:block th:if="${session.errorMsg}">
                    <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                    <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                </th:block>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Profile</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Address</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u,c:${user}">
                        <th scope="row">[[${c.count}]]</th>
                        <td><img th:src="@{'/img/img/profile_img/'+${u.image}}" width="100px" height="100px"></td>
                        <td>[[${u.name}]]</td>
                        <td>[[${u.email}]]</td>
                        <td>[[${u.mobileNumber}]]</td>
                        <td>[[${u.address+','+u.city+','+u.state+','+u.pincode}]]</td>
                        <td>[[${u.isEnable}]]</td>
                        <td>
                            <a th:href="@{'/admin/updateStatus?status=true&id='+${u.id}}" class="btn btn-primary btn-sm">Active</a>
                            <a th:href="@{'/admin/updateStatus?status=false&id='+${u.id}}" class="btn btn-danger btn-sm">InActive</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</body>
</html>