<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="navbar::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section>
    <div class="container p-5 mt-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card card-sh">
                    <div class="card-header text-center">
                        <p class="fs-4">Edit Product</p>
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${product.id}">
                            <div class="mb-3">
                                <label>Enter title</label>

                                    <input type="text" name="title" class="form-control" th:value="${product.title}">

                            </div>
                            <div class="mb-3">
                                <label>Enter Description</label>

                                    <textarea rows="3" cols="" class="form-control" name="description">[[${product.description}]]</textarea>

                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Enter Category</label>

                                        <select class="form-control" name="category">
                                            <option>[[${product.category}]]</option>
                                            <option th:each="c:${category}">[[${c.name}]]</option>
                                        </select>

                                </div>
                                <div class="mb-3 col">
                                    <label>Enter Price</label>

                                        <input type="text" name="price" class="form-control" th:value="${product.price}">
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Enter Discount</label>

                                        <input type="text" name="discount" class="form-control" th:value="${product.discount}">
                                </div>
                                <div class="mb-3 col">
                                    <label>Discount Price</label>
                                        <input type="text" class="form-control" th:value="${product.discountPrice}" readonly>

                                </div>
                            </div>
                            <div class="mb-3">
                                <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" id="flexRadioDefault1"
                                           th:checked="${product.isActive==true}" value="true">
                                    <label class="form-check-label" for="flexRadioDefault1">Active</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" value="false" id="flexRadioDefault2"
                                           th:checked="${product.isActive==false}">
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        InActive
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="mb-3 col">
                                    <label>Enter stock </label>

                                        <input type="text" name="stock" class="form-control" th:value="${product.stock}">

                                </div>
                                <div class="mb-3 col">
                                    <label>Upload Image </label>
                                    <input type="file" name="file" class="form-control">
                                </div>
                                <div class="mt-1">
                                    <img th:src="${product.image}" width="100px" height="100px">
                                </div>
                            </div>
                            <button class="btn btn-primary col-md-12">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>