<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navbar::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-2">
        <div class="row">
            <p class="text-center fs-3 mt-2">All Orders</p>
            <hr>
            <th:block th:if="${session.successMsg}">
                <p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-success fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <div class="col-md-4 p-4">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="" placeholder="Enter orderId">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 ps-4 pe-4">
                <table class="table table-bordered card-sh">
                    <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Date</th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o:${orders}">
                        <th scope="row">[[${o.orderId}]]</th>
                        <td>[[${o.orderDate}]]</td>
                        <td>[[${o.product.title}]]</td>
                        <td>Quantity : [[${o.quantity}]] <br>
                            Price : [[${o.price}]] <br>
                            TotalPrice : [[${o.quantity*o.price}]]
                        </td>
                        <td>[[${o.status}]]</td>
                        <td>
                            <form>
                                <div class="row">
                                    <div class="col ">
                                        <select class="form-control">
                                            <option>--select--</option>
                                            <option>In Progress</option>
                                            <option>Order Received</option>
                                            <option>Product Pack</option>
                                            <option>Out for Delivery</option>
                                            <option>Delivered</option>
                                            <option>Cancelled</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary btn-sm col">Update</button>
                                    </div>
                                </div>
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
