<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navbar::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container-fluid mt-5 p-2">
        <div class="row">
            <p class="text-center fs-3 mt-2">All Orders</p>
            <hr>
            <a href="/admin/" class="text-decoration-none"><i class="fa-solid fa-arrow-left"></i>Back</a>
            <th:block th:if="${session.successMsg}">
                <p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.errorMsg}">
                <p class="text-success fw-bold text-center">[[${session.errorMsg}]]</p>
                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <div class="col-md-4 p-4">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" name="" placeholder="Enter orderId">
                        </div>
                        <div class="col">
                            <button class="btn btn-primary col">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12 ps-4 pe-4">
                <table class="table table-bordered card-sh">
                    <thead>
                    <tr>
                        <th scope="col">Order ID</th>
                        <th scope="col">Deliver Details</th>
                        <th scope="col">Date</th>
                        <th scope="col">Product Details</th>
                        <th scope="col">Price</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="o:${orders}">
                        <th scope="row">[[${o.orderId}]]</th>
                        <td>Name : [[${o.billingAddress.firstName+'
                            '+o.billingAddress.lastName}]]<br> Email :
                            [[${o.billingAddress.email}]] <br> MobileNumber :
                            [[${o.billingAddress.mobileNumber}]] <br> Address :
                            [[${o.billingAddress.address}]] <br> City :
                            [[${o.billingAddress.city}]] <br> State :
                            [[${o.billingAddress.state}]] ,
                            [[${o.billingAddress.pincode}]]


                        </td>
                        <td>[[${o.orderDate}]]</td>
                        <td>[[${o.product.title}]]</td>
                        <td>Quantity : [[${o.quantity}]] <br>
                            Price : [[${o.price}]] <br>
                            TotalPrice : [[${o.quantity*o.price}]]
                        </td>
                        <td>[[${o.status}]]</td>
                        <td>
                            <form action="/admin/update-order-status" method="post">
                                <div class="row">
                                    <div class="col ">
                                        <select class="form-control" name="st">
                                            <option>--select--</option>
                                            <option value="1">In Progress</option>
                                            <option value="2">Order Received</option>
                                            <option value="3">Product Pack</option>
                                            <option value="4">Out for Delivery</option>
                                            <option value="5">Delivered</option>
                                            <option value="6">Cancelled</option>
                                        </select>
                                    </div>
                                    <input th:value="${o.id}" name="id" type="hidden">
                                    <div class="col">
                                        <th:block
                                                th:if="${o.status=='Cancelled' || o.status=='Delivered'}">
                                            <button class="btn btn-primary btn-sm col disabled">Update</button>
                                        </th:block>
                                        <th:block
                                                th:unless="${o.status=='Cancelled' || o.status=='Delivered'}">
                                            <button class="btn btn-sm btn-primary ">Update</button>
                                        </th:block>
                                    </div>

                                </div>
                            </form>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
</body>
</html>
