<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="navbar::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <section>
        <div class="container-fluid p-5 mt-5">
            <div class="card card-sh">
                <div class="card-body text-center">
                    <p class="fs-4">View Product</p>
                    <th:block th:if="${session.successMsg}">
                        <p class="text-success fw-bold">[[${session.successMsg}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>

                    <th:block th:if="${session.errorMsg}">
                        <p class="text-success fw-bold">[[${session.errorMsg}]]</p>
                        <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                    </th:block>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Price</th>
                            <th scope="col">Discount</th>
                            <th scope="col">DiscountPrice</th>
                            <th scope="col">Status</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p,c:${allProduct}">
                            <th scope="row">[[${c.count}]]</th>
                            <td><img th:src="@{'/img/img/product_img/'+${p.image}}" width="100px" height="100px"></td>
                            <td>[[${p.title}]]</td>
                            <td>[[${p.category}]]</td>
                            <td>[[${p.price}]]</td>
                            <td>[[${p.discount}]]</td>
                            <td>[[${p.discountPrice}]]</td>
                            <td>[[${p.isActive}]]</td>
                            <td>[[${p.stock}]]</td>
                            <td>
                                <a th:href="@{'/admin/loadEditProduct/'+${p.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-1x "></i>Edit</a>
                                <a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash  fa-1x"></i>Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</body>
</html>