<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{navbar::layout(~{::section})}">
<head>
    <meta charset="ISO-8859-1">
    <title>Insert title here</title>
</head>
<body>
<section>
    <div class="container mt-5 p-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <i class="fa-solid fa-circle-check fa-5x text-success"></i>
                <p class="fs-3 mt-3">Your order has been placed successfully!</p>
                <p class="fs-4 mt-2">Expect delivery within 7 days.</p>
                <div class="mt-4">
                    <a href="/" class="btn btn-primary">Return to Home</a>
                    <a href="/user/user-orders" class="btn btn-primary ms-3">View Your Order</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
