<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="navbar::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section>
        <div class="container card-sh " style="margin-top:75px; margin-bottom:110px">
                <div class="col-md-12 paint-card p-5">
                    <div class="row">
                    <div class="col-md-6 text-end">
                        <img src="img\img\latest_product_img\book.jpg" width="40%" height="250px">
                    </div>
                    <div class="col-md-6">
                        <p class="fs-3">Laptop</p>
                        <p>
                            <span class="fw-bold">Description :</span>
                            <br> Rich Dad Poor Dad
                        </p>
                        <p>
                            <span class="fw-bold">Product Details : </span><br>
                            Status : <span class="badge bg-success">Available :</span>
                            <span class="badge bg-warning">Out of stock</span><br>Category :Book <br>Policy : 7 Days
                            replacement & Return
                        </p>
                        <p class="fs-5 fw-bold">
                            Price :&nbsp; &nbsp; &nbsp; &nbsp; <i class="fas fa-rupee-sign"></i> 500
                            <span class="fs-6 text-decoration-line-through text-secondary">450</span>
                            <span class="fs-6 text-success">15%</span>
                        </p>

                        <div class="row">
                            <div class="col-md-4 text-success text-center p2">
                                <i class="fas fa-money-bill-wave fa-2x"></i>
                                <p>Cash On Delivery</p>
                            </div>
                            <div class="col-md-4 text-danger text-center p-2">
                                <i class="fas fa-undo-alt fa-2x"></i>
                                <p>Return Available</p>
                            </div>
                            <div class="col-md-4 text-primary text-center p-2">
                                <i class="fas fa-truck-moving fa-2x"></i>
                                <p>Free Shipping</p>
                            </div>
                        </div>
                        <a href="#" class="btn btn-danger col-md-12 ">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>